#fondo_contador{
    padding: 20px;
}

table{
    margin: auto;
    border-radius: 10px;
    text-align: center;
    background: firebrick; /*da color al fondo del contador*/
}

table th{
    padding: 5px;
}

#titulo_contador td{
    padding: 5px;
    border-bottom: white 1px solid;
    font-size: 13px;
}

#dhms{
    color: darkgoldenrod;
}

@media (max-width:400px){
    table{
        width: 100%;
        font-size: 10px;
    }
}

#mensaje_evaluacion{
    text-align: center;
    font-size: 10px;
}

#mensaje_evaluacion a{
    text-decoration: none;
    font-size: 11px;
}