*{   
    margin: 0px;   /* pagina sin bordes en blanco*/
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;  /*Fons con la que trabaja*/
    background: withe; 
}

header{
    width: 100%;   /*largo de la barra del header*/
    height: 40px;   /*altura de la barra del header*/
    background: #333333;
    color: white;
    position: fixed;  /*para que se quede pegado al mover...*/
    top:0;   /*desde 0 px de arriba haci abajo y...*/
    left: 0; /*0 px de los lados*/
    z-index: 100;  /*para que quede arriba de cualquir objeto en la pagina*/
    box-shadow: 0px 1px 8px black;
}

#contenedor{     /*el header contiene este div que contiene a su vez toda la barra con titulo y menu incluido*/
    width: 95%;
    margin: auto;
}

@media(min-width:1024px){
    #contenedor{
        width: 1000px;
    }
}

#titulo{
    float: left;   /*posiciona el titulo a la izquierda*/
}

#menu-bar{
    display: none;  /*elimina el checkbox nombrado barra_menu */   
}

#menu-bar:checked ~ #menu{
    transform: translateX(0%);
}

#icono_barra{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 38px;
}

header label{
    color: firebrick;   /*mantiene el icono de menu flotando a la derecha*/
    float: right;
    margin: 10px 10px; /*hace que se centre con respecto a la barra*/
}

#menu{
    position: absolute;
    top:40px;  /*hace que el menu se vea debajo de la barra*/
    left: 0;
    width: 100%;
    height: 100vh;      /*hace el Largo del menu al tamaño de la pagina*/
    background: rgba(51,51,51,1);
    transition: all 0.2s;
    transform: translateX(-100%);   /*hace la anumacion del menu*/
}

#menu a{
    font-size: 16px;
    display: block;
    color: firebrick;
    height: 40px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.9);
}

#menu a:hover{
    background: rgba(255,5,5,0.5);
    color: darkgoldenrod;
}

@media(min-width:480px){  /*apartir de 480px*/
    #menu{
        width: 50%;  /*largo del menu se reduce a 40%*/
    }
}

@media (min-width:1024px){  /*configuracion de menu apartir de 1024px*/
    #menu{
        position: static;  /*cambia de posicion al menu*/
        width: auto;   /*centra el menu*/
        height: auto;  /*centra el menu*/
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    
    header label{
        display: none;
    }
    
    #menu a{
        border-bottom: 0px;
        font-size: 12px;
    }
}

section{
    width: 100%;
    margin: 25px%;
}
#banner{
    margin-top: 20px;
    display: block;
}

#banner img{
   width: 100%;
    height: 100%;
}

#bienvenida{
    text-align: left;
    color: #333333;
}

#dm{
    color:firebrick;
}

#app{
    border-radius: 5px;
    width:180px;
}

#app:hover{
     box-shadow: 0px 1px 10px black;
}

@media (max-width:800px){   /*agranda las imagenes al maximo de 400px CHECAR*/
    #app{
        width: 250px;
        transition: all 1seg;
    }
}

#pie{
    background: #333;
    padding: 20px;
    text-align: center;
    font-size: 13px;
}

/*------------- Estilos Quejas y Contacto----------*/

/*la mayoria de los estilos ya estan arriba (estilos generales de pagina)*/

#CE{  /*color del texto "contactos escolares"*/
    color: darkgoldenrod;
}