body{
	margin: 0px;
	padding: 0px;
	background:#191818;
}

#grupo{
	width:984px;
	margin:auto;
	background:#760707;
}

#banner{
	margin:0px;
	padding:0px;
}

#menu{
	background:black;
	height:40px;
}

#menu ul{
	margin: 0px;
	padding: 0px;
	list-style:none;
}

#menu ul li a{
	text-decoration:none;
	color:white;
	line-height:40px;
	padding: 0px 10px;
	display:block;
	background:black;
	float:left;
}

#submenu_libros{
	float:left;
}

#submenu_libros ul{
	float:left;
	display:none;
	position:absolute;
}

#submenu_libros li:hover{
	display:block;
}

#menu ul li a:hover{
	background:#760707;
	color:#DBA901;
}

#seccion{
	background:#760707;
	width:70%;
	float:left;
	padding:20px 0px;
	margin:0px;
	position:static;
}

#columna{
	background:#454545;
	width:30%;
	float:right;
	padding:0px 0px;
	margin:0px;
	position:static;
}

#articulo{
	
	width:600px;
	margin-top:0px;
	margin-left:40px;
}

.limpiar{
	clear:both;
}

#seccion-pie{
	background:black;
	margin:0px;
	color:white;
}

#pie{
	background:black;
	margin:0px;
	padding:70px 0px;
	color:white;
}


#pie ul{
	margin: 0px;
	padding: 0px 110px;
	list-style:none;
}

#pie ul li{
	float:left;
	line-height:40px;
	padding: 0px 10px;
}

#pie ul li a{
	text-decoration:none;
	color:white;
	line-height:40px;
	padding: 0px 20px;
	display:block;
}

#pie ul li a:hover{
	background:#760707;
	border-radius:20px;
}